apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: novdan
resources:
  - frontend.yaml
  - api.yaml
  - cronjobs/api_generate_monthly_tokens.yaml
  - cronjobs/parse_articles.yaml
images:
  - name: novdan-frontend
    newName: rg.fr-par.scw.cloud/djnd/novdan-frontend
    newTag: 'e2fc91c56c9abd4dd01b114951f49a3f82003ef8'
  - name: novdan-api
    newName: rg.fr-par.scw.cloud/djnd/novdan-api
    newTag: 'e2fc91c56c9abd4dd01b114951f49a3f82003ef8'
