apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: novdan
resources:
  - frontend.yaml
  - api.yaml
  - cronjobs/api_generate_monthly_tokens.yaml
  - cronjobs/parse_articles.yaml
images:
  - name: novdan-frontend
    newName: rg.fr-par.scw.cloud/djnd/novdan-frontend
    newTag: 'dcafa6c31ccdedf2ba7cf99173903bb3ff6d7813'
  - name: novdan-api
    newName: rg.fr-par.scw.cloud/djnd/novdan-api
    newTag: 'dcafa6c31ccdedf2ba7cf99173903bb3ff6d7813'
