apiVersion: v1
kind: Secret
metadata:
  name: novdan-secrets
type: Opaque
stringData:
  DJANGO_SECRET_KEY: "secret_key_changeme"
  # DJANGO_STATIC_ROOT: ""
  # DJANGO_STATIC_URL_BASE: ""
  # DJANGO_MEDIA_ROOT: ""
  # DJANGO_MEDIA_URL_BASE: ""
  DJANGO_DATABASE_HOST: "host_changeme"
  DJANGO_DATABASE_PORT: "5432"
  DJANGO_DATABASE_NAME: "name_changeme"
  DJANGO_DATABASE_USERNAME: "username_changeme"
  DJANGO_DATABASE_PASSWORD: "password_changeme"
  # DJANGO_ENABLE_S3: "yes"
  # DJANGO_AWS_ACCESS_KEY_ID: "accesskeyid_changeme"
  # DJANGO_AWS_SECRET_ACCESS_KEY: "secretaccesskey_changeme"
  # DJANGO_AWS_STORAGE_BUCKET_NAME: "bucket_changeme"
  # DJANGO_AWS_LOCATION: "location_changeme"
  DJANGO_PAYMENT_API_BASE: "http://pay.example.com"
  # DJANGO_PAYMENT_CAMPAIGN_ID: "1"
  NUXT_API_BASE: "http://api.example.com"
  NUXT_API_CLIENT_ID: "clientid_changeme"
