volumes:
  pgdata:


services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: novdanapi
      POSTGRES_PASSWORD: novdanapi
      POSTGRES_DB: novdanapi
    ports:
      - 5432:5432
    volumes:
      - pgdata:/var/lib/postgresql/data

  novdan-api:
    build: ./novdan_api
    ports:
      - 8000:8000
    environment:
      PYTHONUNBUFFERED: "1"
      DJANGO_DEBUG: "true"
      DJANGO_SETTINGS_MODULE: novdan_api.settings.k8s
      DJANGO_DATABASE_HOST: db
      DJANGO_DATABASE_NAME: novdanapi
      DJANGO_DATABASE_USERNAME: novdanapi
      DJANGO_DATABASE_PASSWORD: novdanapi
    volumes:
      - ./novdan_api:/app
    depends_on:
      - db

  novdan-frontend:
    build: ./novdan_frontend
    ports:
      - 3000:3000
    environment:
      NODE_ENV: development
      NUXT_API_BASE: http://novdan-api:8000
      NUXT_API_BASE_BROWSER: http://localhost:8000
      NUXT_API_CLIENT_ID: IfFCMgW5XsJZGX27M5a4cjdicW6AEJZzrimI5qiS
    command: npm run dev
    volumes:
      - ./novdan_frontend:/app
